/* Inizio regola generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fine regola generale */

/* Inizio body */
body{
    width: 80%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-square1{
   width: 100%;
   margin-bottom: 80px;
}
.container-square2{
    width: 100%;
    margin: auto;
 }
.container{
    display: inline-block;
    width: 640px;
    height: 924px;
    position: relative;
    margin-left: 20px;    
}
.container2{
    display: inline-block;
    width: 640px;
    height: 924px;
    position: relative;
    margin-left: 20px;    
}
.container3{
    display: inline-block;
    width: 640px;
    height: 924px;
    position: relative;
    margin-left: 20px;    
}
/* Fine body */

/* inizio testo sulla foto */
.sconto{
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: red;
    color: white;    
    font-size: 25px;
}
.green{
    position: absolute;
    bottom: 30px;
    left: 80px;
    background-color: green;
    color: white;    
    font-size: 25px;
}
.green-left0{
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: green;
    color: white;    
    font-size: 25px;
}
.heart{
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 25px;
    background-color: white;
    padding: 10px 15px;
}
/* Fine testo sulla foto */
.prezzo-rosso{
    color: red;
    font-size: 22px;       
}
.marca{
    font-size: 18px;
}
/* Inizio risoluzione img */
.img1, .img1b{
    width: 100%;
    height: 100%; 
}
/* Fine risoluzione img */

/* Inizio hover */
.img1b{   
    display: none;      
}
.container:hover .img1b{
    display: initial;
}
.container:hover .img1{
    display: none;
}
.container2:hover .img1b{
    display: initial;
}
.container2:hover .img1{
    display: none;
}
.container3:hover .img1b{
    display: initial;
}
.container3:hover .img1{
    display: none;
}
/* Fine hover */

